.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img {
  object-fit: contain;
}

.portrait {
  margin: 1rem;
}

.gridbox {
  margin-top: 1rem;
}

.container {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.image {
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: fill;
}

.disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.container:hover .image {
  opacity: 0.6;
}

.container:hover .middle {
  opacity: 1;
}

.north:hover {
  opacity: .5;
}

.east:hover {
  opacity: .5;
}

.south:hover {
  opacity: .5;
}

.west:hover {
  opacity: .5;
}
.central:hover {
  opacity: .5;
}

.misc:hover {
  opacity: .5;
}


.toggle-menu {
  height: 50px;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 9rem;
  width: 15px;
  position: absolute;
  outline: none;
  z-index: 1;
  background-color: #d4af37;
  border-color: rgba(64, 194, 133, 0.693);
  border-left: 0;
}

.side-bar {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  border-right: 3px solid;
  border-radius: 0;
  border-color: #d4af37;
  background-color: #22162b;
  transition: 0.8s ease;
  left: -100%;
}

.textStyle {
	background-color: #1a1d24;
	border: 1.5px solid #3c3f43; 
	border-radius: 5px; 
	width: 100%;
	padding: 5px;
	overflow: auto; 
	scrollbar-width: none;
}


